@font-face {
    font-family: 'EntypoRegular';
    src: url('../fonts/entypo/entypo-webfont.eot');
    src: url('../fonts/entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo/entypo-webfont.woff') format('woff'),
         url('../fonts/entypo/entypo-webfont.ttf') format('truetype'),
         url('../fonts/entypo/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; -webkit-text-size-adjust:none; }
ol, ul, li {list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Petter
   ========================================================================== */



body {
  height: 100%;
  width: 100%;
  text-align: center;
  background: white;
  opacity: 0;
  overflow: hidden;
}

a {
  color: #333;
  text-decoration: none;
}

#slide {

}


#slide ul li h1 {
  margin: 0 5%;
  line-height: 1em;

}

#slide ul li h5 {
  color: #666;
}

#share-container {
  position: absolute;
  bottom: 10%;
  left: 45%;
}

a.share {
  color: #ddd;
  font-size: 48px;
  font-family: 'EntypoRegular';
  text-shadow:  0 0 1px #ccc;
}

a.share:hover {
  color: #bbb;
}

#share-dialog {
  padding: 0;
  text-align: left;
  font-weight: bold;
  line-height: 1.4;
  font-size: 14px;
  background: #fff;
  box-shadow: 0px 0px 14px #ccc;
  height: 80px;
  width: 100px;
  border-radius: 5px;
}

#share-dialog ul {
  
  color: #aaa;
  padding: 5px;
}

#footer-container {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

.swipe {
  
  position: absolute;
  top: 45%;
  margin: -25% auto;
  width: 100%;
  background: #fff;
  z-index: 10;
  padding-bottom:0px;
}
.swipe li div, .swipe div div div {
  margin:0 2%;
  padding:0px 1%;
  font-weight:bold;
  text-align:center;
}

.move {
  position: absolute;
  border: 1px solid black;
  -webkit-transform: translate3d(1000px, 0px, 0px);
}

::-moz-selection{ color:#ff005f; text-shadow: none; }
::selection { color:#ff005f; text-shadow: none; }